<VirtualHost *:80>
#	ServerName www.akmiller.co.uk
	ServerName personal

	WSGIDaemonProcess personal user=think group=www threads=5
	WSGIScriptAlias / /home/think/public_html/personal/personal.wsgi

	<Directory /home/think/public_html/personal/>
		WSGIProcessGroup personal
		WSGIApplicationGroup %{GLOBAL}
		Order deny,allow
		Allow from all
	</Directory>
</VirtualHost>