<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

<!-- change this to the title you want to appear in browser title bar -->

<title>.: Andrew Miller :.</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="dreamLogic" />
<meta name="description" content=" " />
<link rel="stylesheet" href="../static/style.css" type="text/css" />
<!--<link rel="stylesheet" href="../static/web-font.css" type="text/css" media='screen'/>-->
</head>

<body>

<div id="wrap">


<!-- the title that appear in the page header -->

<div id="title">.: Andrew Miller :.</div>

{% from "_helper.html" import render_post, render_links %}

<div id="navcontainer">
{{ render_links(links) }}
</div>

<div id="container">
<div id="content">

<!-- here is your page content -->
<div class="pullquote">
{{ desc }}
</div>

{% for post in blog %}
	{{ render_post(post) }}
{% endfor %}

<!-- end page content -->

<p class="footer">  
<!-- it'd be super if you left this link intact -->    
    
<a href="http://www.dream-logic.com">Web Design by dreamLogic</a>
</p>

</div>
</div>

</div>

</body>
</html>
