<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="google-site-verification" content="k0KofT2y9pWWQFWanmi-T_0Vmm-yjmmqI2r_FWKizCs" />
  <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="https://use.typekit.net/xvn6cue.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" integrity="sha384-yNuQMX46Gcak2eQsUzmBYgJ3eBeWYNKhnjyiBqLd1vvtE9kuMtgw6bjwN8J0JauQ" crossorigin="anonymous">
  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/public/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/public/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/public/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/public/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/public/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/public/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/public/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/public/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/public/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/public/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
  <link rel="manifest" href="/public/manifest.json">
  <meta name="msapplication-TileColor" content="#f1ece1">
  <meta name="msapplication-TileImage" content="/public/ms-icon-144x144.png">
  <meta name="theme-color" content="#f1ece1">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
