<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">

      {% assign sidebar = site.menus.sidebar.menu | map:"url" | uniq %}
      {% assign sidebar_title = site.menus.sidebar.menu | map:"title" | uniq %}
      {% for item in sidebar %}
        <li class="sidebar-nav-item{% if page.menu.sidebar.url == item %} active{% endif %}">
          <a href="{{ item | replace: 'index.html' '' }}">{{ sidebar_title[forloop.index0] }}</a>
        </li>
      {% endfor %}

      <li class="sidebar-nav-item">
          <a href="{{ site.linkedin }}" class="fa fa-linkedin"></a>&nbsp;
          <a href="{{ site.github }}" class="fa fa-github"></a>&nbsp;
          <a href="{{ site.twitter }}" class="fa fa-twitter"></a>&nbsp;
          <a href="{{ site.cv }}" >CV</a>&nbsp;
          <a href="{{ site.rss }}" class="fa fa-rss"></a>&nbsp;
      </li>
    </ul>

    <p style="line-height:1;">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</br>
    <small>Disclaimer: All expressions of thought are mine and are bare no relation to anyone I maybe associated with. <br />
    Company No: 12130681</small></p>

  </div>
</div>
