{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs) }}
  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}<li>{{ error }}{% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_post(post) %}
	{# post #}
	<h3>{{ post.title }}</h3>
	{{ post.description|safe }}
	<span style="font-size:0.75em">{{ post.date }}</span>
{% endmacro %}

{% macro render_links(links) %}
	<ul id="navlist">
	{% for key,link in links|dictsort(true) %}
		<li><a href="{{ link }}">{{ key|lower }}</a></li>
	{% endfor %}
	</ul>
{% endmacro %}
